* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: #000000;
}

body[data-theme='light'] {
  --colors-text: hsl(0, 0%, 0%);
  --colors-bg: hsl(0, 9%, 96%);
}

body {
  margin: 0;
  color: var(--colors-text);
  background-color: var(--colors-bg);
  font-size: 0.8rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Paintings__grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 768px) {
  .Paintings__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .Paintings__grid {
    grid-template-columns: 1fr;
  }
}

.Paintings__wrapper {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 205px;
}

.Paintings__titleBlock {
  padding-left: 15px;
  position: absolute;
  bottom: -124px;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  width: 100%;
  height: 154px;
  transition: transform .2s;
}

.Paintings__titleBlock:hover {
  cursor: pointer;
  transform: translateY(-95px);
}

.Paintings__title {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width:1024px) {
  .Paintings__title {
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .Paintings__title {
    font-size: 13px;
  }
}

.Paintings__titleBlock p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 5px;
}

.Paintings__titleBlock p span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.Paintings__text {
  font-size: 13px;
}

.Painting__group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 35px;
  padding-bottom: 45px;
  column-gap: 20px;
}

@media screen and (max-width:320px) {
  .Painting__group {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.Painting__delimiter {
  padding: 10px 10px;
  font-size: 1.3rem;
}

.Pictures__Pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width:280px) {
  .Pictures__Pagination {
    display: none;
  }
}

.Paintings__picture {
  width: 100%;
  height: 275px;
  border-radius: 20px;
}

@media screen and (max-width:1040px) {
  .Paintings__picture {
    height: 230px
  }
}

@media screen and (max-width:768px) {
  .Paintings__picture {
    height: 249px
  }
}

@media screen and (max-width:320px) {
  .Paintings__picture {
    height: 205px
  }
}

.Paintings__close {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.relative {
  position: relative;
}